In [6]:
import pandas as pd

storage_options = {
    "key": "access_key",
    "secret": "secret_key",
    "client_kwargs": {
        "endpoint_url": "http://lakefs-dev:8000/"
    }
}

path_all_partition = 's3a://dust-concentration/main/dust_data.parquet'

df = pd.read_parquet(
    path=path_all_partition,
    storage_options=storage_options
)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          160 non-null    int64
 1   timestamp      160 non-null    object
 2   stationID      160 non-null    object
 3   nameTH         160 non-null    object
 4   areaTH         160 non-null    object
 5   district       160 non-null    object
 6   lat            160 non-null    object
 7   long           160 non-null    object
 8   AQI.aqi        160 non-null    int64
 9   AQI.color_id   160 non-null    int64
 10  PM25.value     160 non-null    float64
 11  PM25.color_id  160 non-null    int64
 12  PM10.value     160 non-null    int64
 13  PM10.color_id  160 non-null    int64
 14  O3.value       160 non-null    int64
 15  NO2.value      160 non-null    int64
 16  CO.value       160 non-null    float64
 17  year           160 non-null    category
 18  month          160 non-null    category
 19  day            160 non-null    category
 20  hour           160 non-null    category
dtypes: category(4), float64(2), int64(8), object(7)
memory usage: 22.4+ KB

,index,timestamp,stationID,nameTH,areaTH,district,lat,long,AQI.aqi,AQI.color_id,...,PM25.color_id,PM10.value,PM10.color_id,O3.value,NO2.value,CO.value,year,month,day,hour
0,1,10/05/2025 14:00:00,02t,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,"แขวงหิรัญรูจี เขตธนบุรี, กรุงเทพฯ",ธนบุรี,13.732846,100.487662,25,1,...,1,-1,0,-1,-1,-1.0,2025,5,10,14
1,2,10/05/2025 14:00:00,03t,ริมถนนทางหลวงหมายเลข 3902,"ริมถนนกาญจนาภิเษก เขตบางขุนเทียน, กรุงเทพฯ",บางขุนเทียน,13.636514,100.414262,29,2,...,2,-1,0,-1,-1,-1.0,2025,5,10,14
2,3,10/05/2025 14:00:00,11t,การเคหะชุมชนห้วยขวาง,"แขวงดินแดง เขตดินแดง, กรุงเทพฯ",ดินแดง,13.77553,100.569195,53,-3,...,3,-1,0,-1,-1,-1.0,2025,5,10,14
3,4,10/05/2025 14:00:00,12t,โรงเรียนนนทรีวิทยา,"แขวงช่องนนทรี เขตยานนาวา, กรุงเทพฯ",ยานนาวา,13.70806667,100.5473333,25,1,...,1,-1,0,-1,-1,-1.0,2025,5,10,14
4,5,10/05/2025 14:00:00,50t,โรงพยาบาลจุฬาลงกรณ์,"ริมถนนพระราม 4 เขตปทุมวัน, กรุงเทพฯ",ปทุมวัน,13.729852,100.536501,30,2,...,2,-1,0,-1,-1,-1.0,2025,5,10,14